exportPattern("^[[:alpha:]]+")
S3method(plot,tight.clust)
S3method(write,tight.clust)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "axis", "image", "lines")
importFrom("stats", "dist", "hclust", "kmeans")
importFrom("utils", "write.table")